apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ playbook_dir }}/aws/ca.crt
    server: https://localhost:8443
  name: minikube-ec2
contexts:
- context:
    cluster: minikube-ec2
    user: minikube-ec2
  name: minikube-ec2
current-context: minikube-ec2
kind: Config
preferences: {}
users:
- name: minikube-ec2
  user:
    client-certificate: {{ playbook_dir }}/aws/client.crt
    client-key: {{ playbook_dir }}/aws/client.key
